input[type="range"]{
    -webkit-appearance: none;
    accent-color: black;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    block-size: 20px;
    cursor: pointer;
    inline-size: 20px;
    border-radius: 50%;
    background-color: rgb(247, 247, 247);
    margin: -7px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: rgb(95, 90, 111);
    block-size: 5px;
    border: 0;
}
input[type="range"]::-ms-thumb {
    margin: 0; 
  }
  .passwordgen__password-length{
    inline-size:100%
}
.passwordgen__password-length > input{
    inline-size: 100%;
}