.passwordgen__wrapper{
    background-color: rgba(34, 31, 46,1);
}
.passwordgen__ctn{
    background-color: rgba(34, 31, 46, 0.745);
    inline-size: 85%;
    padding-block: 1rem;
    gap: 25px;
}
.passwordgen__gen-btn{
    background: rgb(52, 255, 170);
    border:0;
    padding-block:12px;
    cursor: pointer;
    inline-size: 100%;
    font-weight: bold;
    color:rgb(74, 87, 95)
}