.passwordgen__strength-indicator{
    background-color: rgb(66, 67, 84);
    padding-block:11px;
}
.passwordgen__strength-bar-ctn{
    margin-inline-end: 20px;
    block-size: 20px;
    gap:5px;    
}
.passwordgen__strength-bar{
    block-size: 21px;
    inline-size:7px;
    border:2px solid rgb(223, 223, 223);
}
.strength-indicator{
    background-color: rgb(0, 255, 162);
}